<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
        <lang name="default">TopicUp</lang>
        <lang name="russian">TopicUp</lang>
    </name>
    <author>
        <lang name="default">1099511627776</lang>
        <lang name="russian">1099511627776</lang>
    </author>
    <homepage>http://habrahabr.ru/users/1099511627776/</homepage>
    <version>0.2</version>
    <requires>
        <livestreet>1.0.1</livestreet>
        <plugins>
        </plugins>
    </requires>
    <description>
        <lang name="default">Allows to bring topic to upper position in topic list by changing its publish date</lang>
        <lang name="russian">Позволяет поднять топик в списке топиков путем изменения даты публикации</lang>
    </description>
</plugin>
